body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    height: 17vh;
   margin-top: 20px;
   margin-left: -100px;
   border-bottom: 3px solid rgb(14, 17, 58);
}
img {
    width: 150px;
    height: 220px;
    margin-top: -70px;
    margin-left: 35%;

}

header h1 {
    text-align: center;
    font-size: 17px;
    margin-left: 50px;
}
header h2 {
    text-align: center;
    font-size: 15px;
    margin-left: 80px;
}



main {
    width: 90vw;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
    min-height: calc(100vh - 178.69px - 154px);
}

main h1 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 50%;
    position: relative;
    left: 23%;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border: 2px solid #b3b4c2;
    box-shadow: rgb(51, 52, 73) 1px 1px 1px 1px;
}

table {
    width: 100%;
    text-align: center;
    border: 2px solid #ccc;
    border-collapse: unset;
    border-spacing: 10px;

}

table thead td {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

table td {
    padding: 5px 15px;

}

.testName {
 font-size: 23;
}
.cat{
    font-weight: bold;
    position: relative;
    left: -40px;
}
.sub{
    font-weight: bold;
    position: relative;
    left: 0px;
}

.result {
    background-color: #f3f2f2;
    border: 1px solid #ccc;
    border: 2px solid #b3b4c2;
    box-shadow: rgb(51, 52, 73) 1px 1px 1px 1px;
}

footer {
    border-top: 3px solid rgb(14, 17, 58);
    height: auto;
    color: rgb(5, 8, 56);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.footer-content h3 {
    font-size: 20px;
    text-transform: capitalize;
    line-height: 2rem;

}

.footer-content p {
    max-width: 200px;
    margin: 10px auto;
    line-height: 0px;
}